<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Ingresa a tu cuenta</h1><br>
		<form name="login">
			<input type="text" id="usuario" name="user" placeholder="Usuario" autocomplete="off" required autofocus>
			<input type="password" id="password" name="pass" placeholder="Contraseña" autocomplete="off" required>
			<input type="submit" id="btnIngresar" name="login" class="login loginmodal-submit" value="Ingresar">
		</form>

		<div class="login-help">
			<a href="#" id="registrarse">Registrarse</a> <!-- - <a href="#">Forgot Password</a> -->
		</div>
	</div>
</div>