<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Perfil</h1>
		<br>
		<a href="#" id="lnkAvatar"><div id="imgDefault"></div><br></a>
		<form>
			<input id="imgInp" name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_id" />
			<br>
			<input type="text" id="usuario" placeholder="Usuario *" autocomplete="off" required autofocus>
			<input type="password" id="password" placeholder="Contraseña *" autocomplete="off" required>
			<input type="text" id="nombre" placeholder="Nombre *" autocomplete="off" required>
			<input type="text" id="apellido" placeholder="Apellido *" autocomplete="off" required>
			<input type="tel" id="edad" placeholder="Edad *" autocomplete="off" required>
			<input type="email" id="email" placeholder="E-mail *" autocomplete="off" required>
			<input type="url" id="url" placeholder="URL *" autocomplete="off" required>
			<input type="submit" id="btnActualizar" class="login loginmodal-submit" value="Actualizar">
			<input type="submit" id="btnCerrar" class="login loginmodal-submit" value="Cerrar">
		</form>
		<p>* Todos los campos son obligatorios</p>
	</div>
</div>